[2014-02-21 09:06] indutny opened #4 "Consider adding `bud` to listing"
You know about it, right? ;) https://github.com/indutny/bud

[2014-02-21 23:56] SlexAxton opened #8 "ELBs now supports Perfect Forward Secrecy"
http://aws.amazon.com/about-aws/whats-new/2014/02/19/elastic-load-balancing-perfect-forward-secrecy-and-more-new-security-features/

[2014-02-22 03:27] #8 closed, assigned to nobody

[2014-02-22 07:01] martinpovolny opened #10 "Consider OpenShift for the PaaS section"
start here, please, https://www.openshift.com/

thank you!

[2014-02-22 19:44] #4 closed, assigned to nobody

[2014-02-22 21:21] dalgard opened #12 "Modulus.io for PaaS list"
https://modulus.io/ gets bonus points for hosting Meteor apps.

[2014-03-06 04:29] SlexAxton opened #15 "Interested in cert perf/acceptance data"
As far as certs go, I'd love to know the performance impact of the following:
- Cert providers
- Long chains
- Missing intermediate certs
- 1024 vs. 2048 vs. 4096
- EV Certs vs. Normal ones
- Certs that are smaller and fit into less packets/records (not really sure what I'm talking about here, but I think it's a "thing")

And then then mash that data up with acceptance on devices.

Ultimately, I'd

[2014-03-17 20:52] reedloden opened #21 "AWS CloudFront does not support PFS"
While the change in #8 was correct for ELBs, the same cannot be said for CloudFront, which supports only two cipher suites (RSA_WITH_RC4_128_MD5 and RSA_WITH_AES_128_CBC_SHA).

[2014-03-17 21:30] #21 closed, assigned to nobody

[2014-05-15 00:38] junhochoi opened #23 "CDNetworks is missing"
I would like to see CDNetworks (company I am working at) to the CDN section. What is needed for adding a new CDN provider?

[2014-05-15 04:54] #23 closed, assigned to nobody

[2014-05-18 09:06] asirap opened #24 "Add Amazon S3 to CDN list?"
You can store static content (http://aws.amazon.com/s3/faqs/#Can_I_host_my_static_website_on_Amazon_S3) or static websites (http://docs.aws.amazon.com/AmazonS3/latest/dev/WebsiteHosting.html) on Amazon S3, which is https by default. Worth adding to your CDN matrix?

[2014-06-15 17:20] #24 closed, assigned to nobody

[2014-06-29 20:34] brianclark opened #31 "Level3 CDN added to CDN & PaaS performance table?"
I'd like to see the Level3 CDN added to your CDN performance table. Level3 CDN locations are usually associated with the domain footprint.net.

Thanks,
Brian

[2014-08-01 13:20] centminmod opened #38 "Elliptic Curve Cryptography SSL certificates - RSA vs ECC signing"
Thanks for all the useful information on the istlsfastyet.com site. I was curious if you have plans to add more info and maybe benchmarks regarding the new ECC based SSL Certificates https://casecurity.org/2014/06/10/benefits-of-elliptic-curve-cryptography/ with ECC (ECDSA) signing as opposed to using RSA signing ?

Under which circumstances would ECC SSL/ECC Signed be best or are we not there yet

[2014-08-05 03:14] mamusr opened #39 "Request to add Erlang Cowboy server by nine nines?"
Thanks,

Michael Mota

[2014-08-07 08:42] nhnb opened #41 "There is no spdy support for recent versions of Apache"
The Apache / spdy cell should say "no", with a "*" explaining that there is support for the old Apache version  2.2 only.

https://code.google.com/p/mod-spdy/issues/detail?id=64 illustrates that development of mod_spdy was discontinuted about 1.5 years ago.

[2014-08-07 08:52] Rydekull opened #42 "Add lighttpd benchmarks to the site"
Thanks

[2014-08-07 17:04] #41 closed, assigned to nobody

[2014-08-07 17:05] cyouden opened #43 "Add node.js to the server listing"
I don't know about most of the fields, but I do know it supports SPDY via [node-spdy](https://github.com/indutny/node-spdy).

[2014-08-08 22:45] dreamiurg opened #44 "CloudFront updates"
As of today, CloudFront supports OCSP stapling and Forward Secrecy.

https://www.ssllabs.com/ssltest/analyze.html?d=d2wnqk7stvlxpu.cloudfront.net&s=205.251.253.44

[2014-08-10 09:26] universaldenmark opened #45 "Incapsula.com"
Can this be added?

[2014-08-11 17:51] #45 closed, assigned to nobody

[2014-08-11 18:36] #44 closed, assigned to nobody

[2014-08-18 01:18] centminmod opened #47 "CDN provider additions cdn77.com cdnify.com keycdn.com"
add 3 more

cdn77.com
cdnify.com
keycdn.com

in fact there's even more listed at http://www.cdnplanet.com/ :)

[2014-08-20 21:58] #38 closed, assigned to nobody

[2014-09-29 23:17] quarterdome opened #52 "Gap in page load waterfall related to SSL"
I ran into this page while looking for a solution with a performance issue we are facing after we moved all of our site to HTTPS. Awesome page, many thanks @igrigorik!

I've been using webpagetest.org a lot to do a crude page load speed of various pages, and I noticed that for a lot of websites there are unexplained waterfall gaps loading SSL pages (after DNS lookup, and before initial connection)

[2014-11-26 21:40] nickdima opened #53 "Acceptable SSL negotiation time"
Could we have something like a benchmark for the SSL negotiation time (as reported by webpagetest) to have any idea of what we should aim for?

[2014-11-29 17:17] #53 closed, assigned to nobody

[2014-11-30 17:13] #52 closed, assigned to nobody

[2014-11-30 17:14] #10 closed, assigned to nobody

[2014-12-05 19:35] cristim opened #58 "OCSP stapling and SPDY on Akamai?"
What is it needed to configure OCSP stapling and SPDY on Akamai?

The website I am working on consumes quite a few APIs that I know use Akamai, and I am quite positive these features are not in place, at least as per http://www.webpagetest.org/result/141205_KM_29b3d5e1a20891c168cc19b8633532a3/

Anyone has experience with getting it configured, so I can raise this to my colleagues who maintain thos

[2015-01-12 11:24] vigneshshanmugam commented on #58
SPDY on Akamai CDN cannot be enabled unless you are a premium customer of them.

Not sure about OCSP stapling.

[2015-01-12 11:38] guypod commented on #58
That's incorrect. SPDY is not a premium offering on Akamai. It may require some new paperwork, because of some legal tidbits, but not an extra charge.

It's possible some specific older Akamai products don't support it, but that's due to technology reasons (i.e. we haven't back-ported SPDY to all the older software stacks).

[2015-01-12 11:54] vigneshshanmugam commented on #58
@guypod : Sorry for that. But this was told by one of the account team member of Akamai.

Can you confirm whether this domain img1a.flixcart.com can be configured to support SPDY?.

[2015-01-12 11:57] guypod commented on #58
@vigneshshanmugam Let's take this offline - I'll send you an email separately.

[2015-01-12 12:30] cristim commented on #58
@guypod all those with *.base.maps.api.here.com are definitely served by Akamai.

We started a conversation with our contacts from Akamai about OCSP stapling and it seems not supported yet, can you confirm this? I will ask them about SPDY as well.

[2015-01-13 18:44] warburtron opened #60 "Please review and rate F5 Silverline"
I'd be interested to see how the Silverline DDoS service (was Defense.net) stacks up against the competition...

[2015-01-13 19:21] igrigorik commented on #60
What does have to do with "is tls fast yet"?

[2015-01-16 23:08] warburtron commented on #60
Silverline provides SSL termination capabilities so I was interested to see how it's TLS rating compares to Akamai and CloudFlare, etc...

[2015-01-16 23:11] igrigorik commented on #60
Ah, I see. I'm not familiar with their products.. If you can find the necessary information (and associated docs links), I'd be happy to add it.

[2015-01-22 05:49] brendanashworth opened #61 "io.js?"
Hi there, I was wondering whether the Node.js fork [io.js](https://github.com/iojs/io.js) will be represented on the website section "Server Performance". From what the right guys have told me, the io.js latest release has support for all of the said categories.

I'd be up for a PR if this would be accepted.

[2015-01-22 07:14] igrigorik commented on #61
I'd happy to add it to the list if someone puts together a PR with appropriate links, etc.

[2015-01-22 07:19] brendanashworth commented on #61
Awesome, I'll send in a PR tomorrow.

[2015-01-29 02:19] brendanashworth commented on #61
PR: #62. I guess discussion will be continued there!

[2015-01-29 02:19] #61 closed

[2015-02-06 10:47] robn opened #63 "Best value for nginx's ssl_buffer_size option?"
@igrigorik, in your Velocity EU 2014 talk you recommend 4k as a reasonable value for nginx's `ssl_buffer_size` option (in the absence of dynamic record sizing).

However in the nginx.conf in this repo, its set to 1400, to fit in one MTU.

Has your recommendation on this changed or is there some other reason for it to be 1400 here?

[2015-02-06 17:05] igrigorik commented on #63
1400 bytes (actually, it should probably be [even a bit lower](https://issues.apache.org/jira/browse/TS-2503?focusedCommentId=14174163&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-14174163)) is the recommended setting for interactive traffic where you want to avoid any unnecessary delays due to packet loss/jitter of fragments of the TLS record. However, packing eac

[2015-02-06 17:05] #63 closed

[2015-02-06 22:14] robn commented on #63
Thank you @igrigorik, good answer. We'll look at our traffic and make a choice from there.

[2015-03-03 08:35] gunta commented on #43
ALPN not supported yet tho.

[2015-03-03 17:58] bitinn opened #64 "Using CDN without SPDY"
One of the question I would like to see in FAQ, is whether using CDN without SPDY support on a SPDY-enabled site have significant negative impact on load time.

Consider this scenario: if we have a flickr like service, and we have X% users from China while our servers are in the US. Given many CDN don't have data centers in China, connections will be expensive. Can choosing CDN without SPDY cause

[2015-03-04 05:40] igrigorik commented on #64
Unfortunately this is not an "answerable" question, in the sense that there isn't a simple true/false answer to it. Rather, the performance will vary based on many factors: size of resources, connection quality (speed, latency, packet loss), etc. Your best bet here is to instrument your site, measure, and draw conclusions for your own case...

[2015-03-04 05:40] #64 closed

[2015-03-15 20:08] cristim commented on #58
It turns out OCSP stapling is actually available for us but we can't just enable it so easily since our configuration is shared by multiple domains and enabling it for one for testing would change them all(including some production ones) so we can't really test it first without impacting production, and we're stuck for now because of this.

At least for us, SPDY/HTTP2.0 is not available at all, bu

[2015-03-15 20:44] sludin commented on #58
Christian,

As SPDY has been termed ‘experimental’ form the beginning it is not
available by default.  You need to join the SPDY ‘beta’ in order to activate
it.  If you contact your rep at Akamai they should be able to arrange that.
If you run into any sort of blocker, or do not have a clear person to
contact let me know and I will assist.  Note that it is expected that SPDY
will go away with h2 f

[2015-03-25 21:40] xiongchiamiov commented on #43
It [looks like](https://github.com/joyent/node/releases) v0.11 and v0.12 have had releases now.

[2015-03-28 19:36] jakajancar commented on #58
FYI, we were told SPDY/HTTP2 is not available today on our Object Delivery products. We would need to upgrade to Akamai Ion / "web experience" products, which is several times more expensive. We were told it's coming to all products in December 2014.

//cc @sludin @guypod

[2015-03-29 17:41] igrigorik commented on #43
Anyone willing to update the feature matrix? Ideally, with links to appropriate docs? :)

[2015-04-02 17:29] sludin commented on #58
I believe that to be inaccurate assuming your product is a secure delivery
product (over TLS) with a certificate specific to your domain.  Please
contact me off of the list so I can help you look into the matter.  At the
very least the answer should be, 'it is coming.'

-stephen
sludin@akamai.com

From:  Jaka Janèar <notifications@github.com>
Reply-To:  "igrigorik/istlsfastyet.com"
<reply+00215903

[2015-04-22 10:05] gkoundinya opened #70 "SPDY support in Bitgravity"
Is SPDY or HTTP2.0 supported in Bitgravity CDN?

[2015-04-22 15:21] igrigorik commented on #70
Unfortunately not familiar with it, if you can find the right data, I'd be happy to add it to the list.

[2015-04-27 14:21] gkoundinya commented on #70
I have contacted a guy from BitGravity(Tata Communications). He said currently there is no support but they are planning to support it in coming days.

[2015-04-27 14:40] igrigorik commented on #70
That's great to hear! When/if you hear back from them with an official announcement, let me know!

[2015-06-09 17:59] igrigorik commented on #43
Added in https://github.com/igrigorik/istlsfastyet.com/commit/e77aa734bfe2328f33f2c2d62cf64d48ea080fe2, closing.

[2015-06-09 17:59] #43 closed

[2015-06-16 19:11] SiriusBits opened #73 "How about Incapsula CDN"
Very comparable to Cloudflare but with better security.

https://www.incapsula.com/

[2015-06-17 17:57] igrigorik commented on #73
I don't know enough about their infrastructure, but I'm willing to add them (and anyone else) to the list if someone is willing to get the right data in place.. If you're a customer, perhaps ping them and ask about their support for the features we care about?

[2015-07-22 07:52] steveworkman opened #76 "Netscaler supports HTTP/2 - but only on recent versions"
Citrix have recently released version 11 of Netscaler which has some HTTP/2 support http://docs.citrix.com/en-us/netscaler/11/system/http-configurations/configuring-http2.html

However, it's only applicable to certain bits of hardware, and it's very new, so I'm not sure it qualifies as being "supported".

Comments?

[2015-07-22 15:47] igrigorik commented on #76
Thanks for the heads up.

FWIW, not all Netscaler products supported SPDY either, but we do list it on the site today with SPDY mention. I think it's fine to update the current matrix with H2 mention and link it to the doc you shared above.

_p.s. "The NetScaler appliance does not support the request prioritization functionality." -- sigh._

[2015-07-23 01:25] jdorfman opened #77 "MaxCDN OCSP Stapling"
Hey Ilya,

MaxCDN now supports OCSP Stapling.  Working on the others.

Thanks!

[2015-07-23 16:10] igrigorik commented on #77
Awesome news, thanks for the heads up! I can update the site.. QQ: do you have a link to any docs / announcements I should point to?

[2015-07-23 16:49] jdorfman commented on #77
No problem.  We are putting a blog post together, should be done early next week.  I will update this issue with the link.  Thanks Ilya.

[2015-07-31 22:16] jdorfman commented on #77
Hey @igrigorik our copywriter was busy this week and didn't get to finish, we will have something hopefully Monday.  Sorry for the delay!

[2015-08-03 17:46] gibbiv commented on #77
Hey @igrigorik. Here is the link to our announcement for OCSP stapling support: https://www.maxcdn.com/blog/now-shipping-ocsp-stapling/

[2015-08-03 21:01] igrigorik commented on #77
Thanks guys! Should be live now.

[2015-08-03 21:01] #77 closed

[2015-08-05 08:01] glensc opened #78 "pound"
Please add [Pound](http://www.apsis.ch/pound/) to benchmarks!

thanks.

[2015-08-05 21:27] igrigorik commented on #78
AFAIK, pound is no longer actively maintained. E.g. Varnish forked it, updated it, and released it under hitch: https://github.com/varnish/hitch

[2015-08-06 09:14] glensc commented on #78
i don't see any relation of hitch to pound (grep -ri pound in the sourcecode yielded 0 matches), i think they just wrote one from scratch. and it seems to use different model (libev), pound afaik created one thread for each connection.

[2015-08-06 09:19] glensc commented on #78
looks like hitch is instead based on [stud](https://github.com/bumptech/stud) 0.3.2:

https://github.com/varnish/hitch/blob/master/CHANGES.rst#hitch-100-beta1-2015-05-13

and [pound](http://www.apsis.ch/pound/) got it's last 2.7 release in [2015-01-26](http://www.apsis.ch/pound/pound_list/archive/2015/2015-01/1422291737000#1422291737000)

[2015-08-06 19:57] igrigorik commented on #78
Ah, you're right, I mixed up these two.

If you're willing to put together a pull with appropriate links and references, I'm happy to add it to the list :)

[2015-08-07 08:05] glensc commented on #78
don't know how to check those params :)

i can give you address of some site that runs pound if the tests can be performed remotely.

[2015-08-07 20:57] igrigorik commented on #78
Doing spot checks is not reliable, we need pointers to docs and/or code (ideally, the former). If the docs are not there, then its worth opening a bug on their repo :)

[2015-08-28 13:06] martinsuchan opened #80 "IIS 10.0 supports HTTP/2"
According to this blogpost IIS 10.0 on Windows 10 and upcoming Windows Server 2016 supports HTTP/2
http://blogs.iis.net/nazim/http-2-for-iis-in-windows-10-technical-preview

SPDY is most likely not supported, even Google dropped support for SPDY in favor for HTTP/2.

[2015-08-28 21:17] igrigorik commented on #80
Good catch, thanks! Fixed in https://github.com/igrigorik/istlsfastyet.com/commit/78e33001fd31a4081b36ef641f8e35b1a2ae5d91.

[2015-08-28 21:17] #80 closed

[2015-09-23 20:59] ZigZagIL commented on #73
Hi, shoot me an email to ofer at incapsula dot com

[2015-09-23 21:04] igrigorik commented on #73
@ZigZagIL would you be up for making a pull with relevant update? :)

[2015-09-23 22:05] igrigorik commented on #73
Closed via #81

[2015-09-23 22:05] #73 closed

[2015-09-24 21:05] AlicanC opened #82 "io.js and Node.js got merged"
There is no "io.js **and** Node.js" anymore, just "Node.js".

[2015-09-25 16:21] igrigorik commented on #82
Thanks for the nudge. Closed via 75c943c.

[2015-09-25 16:21] #82 closed

[2015-09-25 16:35] AlicanC commented on #82
:+1:

[2015-09-30 19:51] xetorixik opened #83 "Nginx config with HTTP/2 - istlsfastyet.com"
Hi,

Please update the Nginx config with HTTP/2 support.
Seems as SPDY is still enabled in the Nginx configuration (https://github.com/igrigorik/istlsfastyet.com/tree/master/nginx).

I'm curious to see what the ideal Nginx configuration is with HTTP/2.

Thanks,

Regards,

[2015-10-12 19:46] skynet commented on #63
Seems to be set to 16k by default: http://nginx.org/en/docs/http/ngx_http_ssl_module.html#ssl_buffer_size

[2015-10-22 15:20] mechalas commented on #63
Setting it to 64k or larger will let nginx take advantage of the multibuffer feature in OpenSSL for AES-CBC mode of encryption which has a significant impact on performance.

https://software.intel.com/en-us/articles/improving-openssl-performance

[2015-10-22 16:39] skynet commented on #63
But how about "To minimize Time To First Byte it may be beneficial to use smaller values" here:
http://nginx.org/en/docs/http/ngx_http_ssl_module.html#ssl_buffer_size

[2015-10-22 16:53] mechalas commented on #63
It depends on your data. If you are serving larger files the gains from multibuffer on the block encryption are going to be significant and will dominate this latency. If you are serving mostly small files, then not so much. If you are using a different encryption mode like GCM, then buffer size will have less of an impact.

[2015-10-22 18:35] skynet commented on #63
@mechalas define larger files. We have web sites behind nginx and most files are somewhere in the 10-100k range. And in regard to what encryption mode is used by NGINX I guess that's not even under our control, if I am not mistaken.

[2015-10-22 20:15] igrigorik commented on #63
@skynet @mechalas there isn't one perfect value. This is why other servers implement dynamic record size - e.g. http://chimera.labs.oreilly.com/books/1230000000545/ch04.html#tls_optimizations_at_google.

[2015-10-22 20:53] mechalas commented on #63
Well, yeah. But nginx doesn't, which is why this was a question. :)

[2015-10-23 02:01] skynet commented on #63
@igrigorik - have you seen this study: http://conferences.sigcomm.org/co-next/2013/program/p303.pdf
It was referenced to me in one of my comments answered by Valentin V. Bartenev, the author of SPDY and HTTP/2 modules @NGINX
From that perspective and in this `ssl_buffer_size` context I have no clue whatsoever what's the best configuration for Android devices.

[2015-10-23 02:23] igrigorik commented on #63
@skynet not sure I follow, what does Android have to do with this? There are two things to consider here: latency and throughput. Larger records improve throughput, smaller records run much lower risk of imposing latency penalties. Depending on the type of traffic you're serving you'll want to adjust these..

[2015-10-23 02:46] skynet commented on #63
@igrigorik - I get the feeling that mobile devices running on cellular networks are not to be considered by any means identical in (their networking) nature to devices running on wired or WiFi networks, and therefore web servers should dynamically adjust for delivery to these devices.

While everyone is looking at HTTP/2 as a "out of box - performance improvement" solution, conclusion of the afore

[2015-10-23 14:39] igrigorik commented on #63
@skynet I've suggested the dynamic approach to nginx on many occasions. ATS and Haproxy are using that approach, others are looking into it as well, I'm hoping nginx will (eventually) follow.

Re, mobile: as a broad statement, yes of course that's true, but at the end of the day you're back to optimizing same things: latency and bandwidth. In that regard nothing fundamentally changes, at least as

[2015-10-23 15:32] skynet commented on #63
Thanks, appreciate the insights.

[2015-11-04 11:28] steveworkman commented on #76
PR #88

[2015-11-04 12:03] igrigorik commented on #76
Closed via #88.

[2015-11-04 12:03] #76 closed

[2015-12-03 16:53] csapir opened #90 "Update to CDN list: CloudFlare HTTP/2 support"
https://blog.cloudflare.com/introducing-http2/

[2015-12-03 19:40] igrigorik commented on #90
Updated: https://github.com/igrigorik/istlsfastyet.com/commit/0420b0dfe581fe83fdef872780a6fb01955cfc99.

[2015-12-03 19:40] #90 closed

[2016-01-27 19:18] vkrasnov opened #93 "CloudFlare does dynamic record sizing now"

[2016-01-27 19:32] igrigorik commented on #93
Do we have any public docs/urls that we can link to, to explain how it works under the hood?

[2016-01-27 19:36] vkrasnov commented on #93
Not yet

[2016-01-27 19:41] #93 closed

[2016-01-28 22:26] yolafo opened #94 "CDN provider addition: QUANTIL"
Hi, would it be possible to add QUANTIL to the list? Our company support the following:

Session identifiers: yes
Session tickets: yes
OCSP stapling: no
Dynamic record sizing: no
ALPN :no
Forward secrecy : yes
HTTP/2: no

Thanks!

[2016-01-28 22:43] igrigorik commented on #94
Yep. Do you have public documentation links to any of the "yes" features - e.g. how to enable them, etc?

[2016-01-29 18:46] yolafo commented on #94
These are back-end configurations that are set up by our Sales Engineers. Unfortunately there is no public documentation available yet.

[2016-01-29 23:09] igrigorik commented on #94
Hmm, OK. Can you put together a quick pull request?

[2016-01-31 17:50] tnitsche commented on #42
+1

[2016-02-01 05:50] igrigorik commented on #42
@Rydekull @tnitsche either one of you willing to put together a pull, with links to appropriate docs? I'd be happy to review and merge!

[2016-02-08 09:05] icing opened #101 "Apache httpd change"
Apache httpd supports TLS dynamic record sizes for HTTP/2 connections since 2.4.18. See https://httpd.apache.org/docs/2.4/mod/mod_http2.html#h2tlscooldownsecs

Could you please update the table? Thanks!

[2016-02-08 16:46] igrigorik commented on #101
Ah, missed that, thanks!

FWIW, "In deployments where connections can be considered reliable"... the wording doesn't feel right here - e.g. TCP is reliable, so I should always set this to 0. Maybe reuse language from and link to slow start after idle in TCP?

[2016-02-08 16:48] igrigorik commented on #101
Resolved via https://github.com/igrigorik/istlsfastyet.com/commit/1d7c8eff0f470bd32eb0c026988310da5a279b33.

[2016-02-08 16:48] #101 closed

[2016-02-08 22:26] yolafo commented on #94
Hi, sorry for the delay, just set up the pull request. Have not used Github before so hopefully I did it correct. Thanks!

[2016-04-12 08:44] jult commented on #63
But for now, what did you guys end up with using for the ssl_buffer_size ?

[2016-04-12 14:50] igrigorik commented on #63
For interactive traffic (e.g. HTML, CSS, etc), 4KB or less.

[2016-04-12 18:33] jult commented on #63
And for a [seafile](https://www.seafile.com/) reverse proxy? Files transferred are generally pretty big there, average 2 MB per file.

[2016-04-12 19:54] igrigorik commented on #63
@jult see http://chimera.labs.oreilly.com/books/1230000000545/ch04.html#TLS_RECORD_SIZE

[2016-04-12 22:12] jult commented on #63
Good article. I think I'll go with 8k then for this particular use-case scenario. We barely if at all suffer from congestion in the networks I use.

[2016-05-06 11:47] rugk opened #110 "Always get grunt error"
I've followed [this instructions](http://gruntjs.com/getting-started#working-with-an-existing-grunt-project) but actually it always ends up with an error:

[code]

and when running `grunt`:

[code]

Running on Debian
NodeJS v5

[2016-05-06 15:21] igrigorik commented on #110
Try `npm install --global gulp` before you compile. The site is based on WSK: https://github.com/google/web-starter-kit/blob/v0.6.1/docs/install.md

[2016-05-06 21:41] rugk commented on #110
Still get the same error. Do I need to clone WSK before?

[2016-05-19 19:09] bamchenry opened #114 "F5 BIG-IP Now Supports Dynamic Record Sizing"
As of version 12.1.0 (18.May.2016 release), BIG-IP supports Dynamic Record Sizing.

https://support.f5.com/content/kb/en-us/products/big-ip_ltm/manuals/product/bigip-ssl-administration-12-1-0/_jcr_content/pdfAttach/download/file.res/BIG-IP_System__SSL_Administration.pdf

[2016-05-19 19:20] bamchenry commented on #114
Pull request 115.
https://github.com/igrigorik/istlsfastyet.com/pull/115

[2016-05-20 21:06] igrigorik commented on #114
Merged, thank you!

[2016-05-20 21:06] #114 closed

[2016-06-08 10:07] jgrahamc opened #120 "Add column for IPv6 support?"
There's a general push to move to IPv6 and this is going to have performance consequences for TLS (and non-TLS) connections. In particular, Apple has announced a deliberate delay in waiting for IPv6 responses of 25ms (https://www.ietf.org/mail-archive/web/v6ops/current/msg22455.html) after receipt of an IPv4 address. This means that dual stack (or IPv6 only) web sites are likely to load faster tha

[2016-06-08 13:40] igrigorik commented on #120
I think we should do this. Assuming that we do, my proposal would be:
- alert: no IPv6 support
- warn: IPv6 support available but off by default
- ok: IPv6 is on by default

Does that sound reasonable?

[2016-06-11 14:53] itpp16 opened #121 "NGINX for Windows supports dynamic TLS"
We've taken it in to beta https://twitter.com/nginx4Windows/status/741604796554174464
You can test it here https://nginx-win.ecsds.eu/
Expected public release between 3-5 days.

[2016-06-14 10:48] itpp16 commented on #121
Public version has been released, enjoy dynamic TLS !

[2016-06-14 11:10] jgrahamc commented on #120
Yes. That sounds like a good idea.

[2016-07-19 11:28] StarDuster opened #124 "haproxy support http2"
Haproxy ALPN support was implemented in 1.5-dev18 version.

Just add ```bind *:443 ssl crt /path/ alpn h2,http/1.1``` in ```frontend ``` section of config file to  enable http2 feature of haproxy.

Reference:
https://news.ycombinator.com/item?id=9022807

[2016-07-19 16:07] igrigorik commented on #124
We do list HAProxy as supporting ALPN, see: https://istlsfastyet.com/#server-performance

[2016-07-19 16:07] #124 closed

[2016-07-20 01:03] StarDuster commented on #124
Umm, I'm a bit confused that why mark HAProxy as 'no' in the 'HTTP/2' column?

[2016-07-20 02:16] igrigorik commented on #124
@StarDuster ALPN is a TLS extension that allows client and server negotiate the protocol. HAProxy supports the ALPN negotiation but it does not understand HTTP/2.. for that it must (as of today) proxy to a server that speaks h2c. Hence no HTTP/2 checkbox.

For more, see: https://hpbn.co/transport-layer-security-tls/#application-layer-protocol-negotiation-alpn

[2016-07-20 02:33] StarDuster commented on #124
Thank you for your explaining.

[2016-09-20 18:12] javiergarza commented on #58
@michaelhood Akamai does support OCSP for a couple of months now. I have seen two large sites delivered by Akamai that already have OCSP stapling on the Akamai delivered certificate.

AFAIK the Akamai's Certificate Provisioning System (CPS) allows enabling OCSP on the certificate. Please check the Akamai Community site at https://community.akamai.com/ for more details as those kind of announcement

[2016-09-20 18:14] michaelhood commented on #58
thanks @javiergarza - I'll have to follow up with support. We do use CPS but I've not seen this option available.

[2016-09-20 18:17] rajiv commented on #58
hi. i'm the product manager for Secure CDN (and OCSP stapling) at Akamai. we have been testing OCSP stapling with a limited number of customers, and plan to roll it out to more once ready. OCSP stapling is not generally available for secure properties on Akamai at this time. look for a public announcement on https://community.akamai.com/ later this year.

[2016-09-20 18:18] michaelhood commented on #58
hi @rajiv, thanks for commenting. could we discuss over email?

[2016-09-20 18:19] rajiv commented on #58
@michaelhood sure!

[2016-11-21 16:01] Serkan-devel opened #132 "lighttpd is missing"
https://www.lighttpd.net/

[2016-11-21 16:09] igrigorik commented on #132
Happy to take a PR for it! Closing, dupe of https://github.com/igrigorik/istlsfastyet.com/issues/42.

[2016-11-21 16:09] #132 closed

[2016-11-22 21:30] ZigZagIL commented on #120
I'm not sure "on by default" is necessarily better here, it can cause some issues for origin servers (think XFF, SIEM, ACLs, etc.). The bigger point will be to **provide the ability** for all users/customers by default (a simple config with no extra $, opening tickets or professional services). just my 2c.

[2016-11-23 11:38] jgrahamc commented on #120
I agree that IPv6 can cause problems and some Cloudflare customers decide to disable IPv6. This seems to mainly be because of IPv6 in X-Forwarded-For suddenly being IPv6 can cause problems (e.g. some abuse system that expected IPv4).

However, I think the push on a site like this one should be to be lead and so default on should be the expectation. Otherwise, people will spend years not dealing wi

[2017-01-05 16:35] mattshade opened #133 "Pls add Aicache"

[2017-01-05 16:40] igrigorik commented on #133
I'd be happy to take a pull request, if either aicache or one of their customers can fill in the fields + provide necessary links.

[2017-01-18 14:36] ctaintor commented on #58
@rajiv any updates on this?

[2017-02-01 20:54] davidstrauss opened #134 "Fastly's HTTP/2 is now in General Availability"
The current table links to their document announcing limited availability, implying a caveat to the "yes." HTTP/2 went GA at Fastly [in November](https://www.fastly.com/blog/http2-now-general-availability).

[2017-02-02 04:37] #134 closed

[2017-02-02 04:37] igrigorik commented on #134
Good catch! Thanks.

[2017-02-09 19:56] bgentry opened #136 "Add Google Cloud Platform to CDN/PaaS list?"
While looking at the [CDN & PaaS](https://istlsfastyet.com/#cdn-paas), I noticed a prominent omission: Google Cloud Platform. App Engine is there, but none of the more modern Google Cloud services are mentioned.

Can they be added? 🙏

[2017-02-11 11:21] igrigorik commented on #136
We definitely should! Do we have a list of services we're interested in?

[2017-02-20 17:54] pankaj-netscaler opened #139 "NetScaler now supports OCSP Stapling and TLS Session Tickets"
Kindly edit the comparison table by adding "yes" to Session Tickets and OCSP Stapling against NetScaler. From the official docs,
OCSP Stapling - http://docs.citrix.com/en-us/netscaler/11-1/ssl/ssl-11-1-ocsp-stapling-solution.html
Session Tickets - http://docs.citrix.com/en-us/netscaler/11-1/ssl/customize-ssl-config/support-for-tls-session-ticket-extension.html

Kindly drop me an email if you want

[2017-02-22 11:17] pankaj-netscaler commented on #139
Hi Ilya,
Kindly look into this thread. We are looking at a quick fix on the site. Thanks.

Pankaj

[2017-02-24 16:43] igrigorik commented on #110
[code]

Should do the trick.

[2017-02-24 16:43] #110 closed

[2017-02-24 16:43] #70 closed

[2017-02-24 16:44] igrigorik commented on #83
Switched to gh-pages + Cloudflare.

[2017-02-24 16:44] #83 closed

[2017-02-24 16:45] igrigorik commented on #121
@itpp16 getting invalid cert error when I try to visit the site :(

[2017-02-24 16:46] #139 closed

[2017-02-24 16:48] #47 closed

[2017-02-24 16:48] #15 closed

[2017-02-24 16:48] #12 closed

[2017-02-24 21:28] itpp16 commented on #121
We use our own root certificate, just import our root or accept our basic certificate.
Site can also be visited by plain http.

[2017-02-24 21:41] igrigorik commented on #121
... I don't think that's a good idea :)

Either way, thanks for the heads up! I don't think there is anything actionable here, closing.

[2017-02-24 21:41] #121 closed

[2017-03-06 14:55] Saturate opened #141 "Cloudflare supports 0-RTT"
This is taken from my control panel:

![image](https://cloud.githubusercontent.com/assets/453018/23614978/29e84fce-0285-11e7-9944-281d567fafcc.png)

[2017-03-06 21:09] igrigorik commented on #141
@grittygrease is that so?

[2017-03-16 22:34] grittygrease commented on #141
It is now. I'll open a PR.

[2017-03-17 08:23] Saturate commented on #141
Guess we can close this then? :-)

[2017-03-17 15:35] igrigorik commented on #141
Yep!

[2017-03-17 15:35] #141 closed

[2017-03-17 15:44] hmhackmaster opened #145 "Add entry for Caddy Server"
Caddy is a "Fast, cross-platform HTTP/2 web server with automatic HTTPS" and seems to fit the bill for inclusion on the 'Server Performance' table.

More info: https://github.com/mholt/caddy & https://caddyserver.com

[2017-03-17 17:05] igrigorik commented on #145
I'd be happy to take a PR for it! @hmhackmaster up for putting one together? :)

[2017-03-17 20:44] kylerandolph commented on #58
@rajiv any updates on OCSP stapling?

[2017-03-17 20:48] kylerandolph commented on #58
Found [this](https://community.akamai.com/thread/4872-how-to-enable-ocsp-stapling#comment-15960), looks like it's available under certain conditions.

[2017-03-17 21:32] rajiv commented on #58
just last week, we enabled OCSP stapling for Akamai-managed certificates. these are certificates where Akamai procures the certificate on behalf of our customers. we will have a public announcement in the next week.

here's a PR to update the site: https://github.com/igrigorik/istlsfastyet.com/pull/146

[2017-03-17 21:34] rajiv commented on #58
SPDY support has been discontinued. see https://community.akamai.com/community/web-performance/blog/2017/02/22/announcing-spdy-end-of-life

[2017-03-20 06:07] mholt commented on #145
Note that Caddy's row will be nearly equivalent to Go's row except that Caddy's "OCSP Stapling" value will be Yes instead of Optional.

[2017-03-27 02:00] jbergstroem opened #147 "h2o: tls 1.3 support"
..added in the 2.2 branch; merged with https://github.com/h2o/h2o/pull/1204.

Should I PR this or wait for a non-beta release?

[2017-03-27 04:00] igrigorik commented on #147
Do we have an eta for non-beta? /cc @kazuho

[2017-04-17 00:07] johnp commented on #147
2.2.0 with TLS 1.3 draft-18 support was released on April 5th:
https://github.com/h2o/h2o/releases/tag/v2.2.0

[2017-04-17 00:20] igrigorik commented on #147
\o/ .. @jbergstroem @johnp willing to make a PR? :)

[2017-04-17 03:17] kazuho commented on #147
@jbergstroem @igrigorik Oh! I have missed reading this issue. Thank you for your efforts. I am looking forward for the PR getting merged.

[2017-04-17 20:09] #147 closed

[2017-04-21 20:02] dacbrown opened #150 "EdgeCast Networks support HTTP/2"
EdgeCast Network now supports HTTP/2. Please update CDN table to represent this.
https://www.verizondigitalmedia.com/blog/2017/04/http2-done-right/

[2017-04-21 21:18] igrigorik commented on #150
Awesome, thanks for the heads up! Any chance you can put together a quick PR with a link to the announcement?

[2017-04-23 07:29] aadrians opened #151 "Missing Azure CDN"
Thanks for a well-written article at https://istlsfastyet.com/#cdn-paas. Can you also add Azure CDN (https://azure.microsoft.com/en-us/services/cdn/) into the matrix? curious how it will look like. Thanks!

[2017-04-23 15:44] igrigorik commented on #151
@toddreifsteck perhaps you know someone on Azure team that can help us fill it out? :)

[2017-04-25 23:08] dacbrown commented on #150
Hi Ilya, 

This is the only PR that we did for the launch of HTTP/2:
https://www.verizondigitalmedia.com/blog/2017/04/http2-done-right/
Please let me know if you need anything other than this. 

Regards, 
David

[2017-04-26 03:40] igrigorik commented on #150
Closed via https://github.com/igrigorik/istlsfastyet.com/pull/153.

[2017-04-26 03:40] #150 closed

[2017-05-13 07:23] theel0ja opened #154 "MaxCDN is now StackPath"
https://www.maxcdn.com/blog/maxcdn-joins-stackpath/

[2017-05-15 02:03] #154 closed

[2017-05-15 02:03] igrigorik commented on #154
Thanks for the heads up!

[2017-10-30 09:13] fdellwing opened #158 "Missing bootstrap CDN and datatables CDN"
Please add `bootstrapcdn.com` (Bootstrap and FontAwesome) and `cdn.datatables.net` (jQuery Datatables). Thanks!

[2017-10-30 15:10] igrigorik commented on #158
Neither of those are general purpose CDNs, I don't think it makes sense to add them to the overview. That said, I'd love for someone to build a similar table for various resource/library hosting providers.

[2017-10-30 15:10] #158 closed

[2018-01-03 19:27] #58 closed

[2018-01-05 11:08] linjan opened #164 "Haproxy 1.8 now supports TLS 1.3, 0-RTT & HTTP/2"
Hello,

according subj and [this announcement](https://www.mail-archive.com/haproxy@formilux.org/msg28004.html), please, fix boxes "no" to "yes", please.
![a6ce6aa2](https://user-images.githubusercontent.com/5128657/34606816-e00f794e-f221-11e7-9382-7dbd7b788a36.png)

thx

[2018-01-05 17:45] #164 closed

[2018-02-11 18:56] igrigorik commented on #145
Resolved via https://github.com/igrigorik/istlsfastyet.com/pull/165

[2018-02-11 18:56] #145 closed

[2018-03-20 12:30] styfle commented on #151
@shanselman would know

[2018-09-15 02:56] vsnine opened #168 "F5 Networks BIG-IP v14, TLS1.3 beta support"
Hello,

F5 Networks recently released version 14 of the BIG-IP platform which includes some support for TLS1.3. They note that support for it is considered beta. The release notes for version 14 are available at this link: https://support.f5.com/kb/en-us/products/big-ip_ltm/releasenotes/product/relnote-bigip-14-0-0.html

_**Support for TLS v1.3 (Internet-Draft 26 only)**
The BIG-IP system now supp

[2018-09-15 03:32] igrigorik commented on #168
Awesome, thanks for heads up Josh! Would you be up for making a quick PR to reflect this?

[2018-09-17 02:35] vsnine commented on #168
FYI, opened #169

[2018-09-27 18:33] codyarsenault opened #170 "KeyCDN TLS 1.3 + 0-RTT support"
KeyCDN recently launched support for TLS 1.3 with 0-RTT. More information can be found in this blog post: https://www.keycdn.com/blog/tls-1-3-support/

[2018-10-10 11:01] #170 closed

[2018-10-12 18:13] Busch opened #173 "Citrix NetScaler supports TLS1.3 and 0RTT"
https://docs.citrix.com/en-us/netscaler/12-1/ssl/tls13-protocol-support.html

[2018-10-12 19:03] igrigorik commented on #173
Nice! Would you be willing to put together a quick PR to update this?

[2018-10-23 14:36] JBlond opened #174 "Apache TLSv1.3"
Since 2.4.37 apache can do TLSv1.3

[2018-10-23 17:59] igrigorik commented on #174
Nice. Would you be willing to put together a PR, with a doc link for relevant support?

[2018-10-24 08:29] JBlond commented on #174
Here we go https://github.com/igrigorik/istlsfastyet.com/pull/175

[2018-10-26 00:45] jochenz opened #176 "Kestrel on the server list"
Would it be possible to add Kestrel to the list of servers?
See
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/servers/kestrel?view=aspnetcore-2.1

[2018-10-26 04:05] igrigorik commented on #176
Would be happy to if someone is willing to put together a PR with all the details filled in. Up for it? :)

[2018-10-26 06:39] JBlond commented on #174
Merged

[2018-10-26 06:39] #174 closed

[2018-11-29 15:00] bruxodasilva opened #180 "Nginx has TLS 1.3 0-RTT support"
Nginx on versions 1.15.4+ has full TLS 1.3 support, with 0-RTT:
https://community.letsencrypt.org/t/tls-1-3-in-nginx/75148/4

[2018-11-29 17:58] igrigorik commented on #180
Yay! Are you aware of any public announcements or official docs we can point to?

[2018-12-04 14:23] dferreira-cvl commented on #180
Sure!
http://nginx.org/en/CHANGES

"Changes with nginx 1.15.3                                        28 Aug 2018

    *) Feature: now TLSv1.3 can be used with BoringSSL.

    *) Feature: the "ssl_early_data" directive, currently available with
       BoringSSL."

ssl_early_data refers to https://tools.ietf.org/html/rfc8446#section-2.3

Best

[2018-12-04 17:51] centminmod commented on #180
Yup FYI https://nginx.org/en/CHANGES

* Nginx 1.15.4 added OpenSSL 1.1.1 TLS v1.3 0-RTT (early data) support
* Nginx 1.15.3 added BoringSSL TLS v1.3 0-RTT (early data) support

I have Nginx working with OpenSSL 1.1.1 or BoringSSL TLS 1.3 0-RTT early data https://community.centminmod.com/threads/centmin-mod-nginx-http-2-https-tls-1-3-support.15537/

* [Nginx with BoringSSL TLS 1.3 0-RTT Early data]

[2018-12-04 17:59] igrigorik commented on #180
Nice, thanks for the links! Let's link..

- 0-RTT entry to: http://nginx.org/en/docs/http/ngx_http_ssl_module.html#ssl_early_data
- 1.3 entry to: grr.. there is no way to deep link to release notes for specific release?

[2019-01-04 07:25] codedrinker opened #184 "Missing Alibaba CDN"
https://www.alibabacloud.com/zh/product/cdn

[2019-01-04 19:46] igrigorik commented on #184
If you'd be willing to pull together the required PR to add it to the list, I'd be happy to review and would love to see it on the list!

[2019-01-17 07:23] nick-markov opened #187 "Missing Universal CDN"
https://blog.ucdn.com/hip-hip-hurray-tls-1-3-and-0-rtt-implementation-check/

[2019-01-27 15:49] whalehub commented on #168
@igrigorik @vsnine The PR was merged so I think this issue can be closed now.

[2019-01-27 16:49] igrigorik commented on #168
👍

[2019-01-27 16:49] #168 closed

[2019-02-21 11:30] azhuchkov opened #190 "TLS Record Size issues"
_First of all, I'd like to thank you, Ilya, for all the hard work in the field of web performance optimization. No one can explain technical stuff (sometimes complicated) in such a simple words as you can._

Now I'd like to draw your attention to the __Dynamic record sizing__ metric you use to compare different servers and CDNs.

Recently I have found that using 16K records for those providers who

[2019-02-27 05:31] igrigorik commented on #190
Andre, thanks for flagging this.

For KeyCDN in particular, doing Git archeology yields https://github.com/igrigorik/istlsfastyet.com/pull/85 where @svenba added the "configurable" tag. To your point though, per discussion in the thread it sounds like it was fixed at 8KB (perhaps it has changed since) and it's not clear if and how those values can be updated. Based on your experience, I'm inclined

[2019-03-16 00:22] felixbuenemann commented on #180
@igrigorik Why not link to http://nginx.org/en/docs/http/ngx_http_ssl_module.html#ssl_protocols:

[2019-03-17 17:16] igrigorik commented on #180
@felixbuenemann +1 to that. Anyone willing to put together a PR to update these?

[2019-04-28 00:20] DubbySlashy opened #195 "Use more security headers"
istlsfastyet.com scores an F on Security Headers. Please get the score up to A+.
https://securityheaders.com/?q=istlsfastyet.com&followRedirects=on

[2019-05-22 16:55] peterblum opened #197 "Instart (was Instart Logic) has TLS 1.3, TLS 1.3 0-RTT and OCSP stapling"
I wanted to ask for a few changes to the Instart Logic entry in your CDN table. We have changed our name to just "Instart" and then we just released TLS 1.3 and TLS 1.3 with 0-RTT. A link to the public blog post is below. Also I noted you have OCSP stapling as no for us but we have had that feature for some time now.

Here is the blog post on TLS 1.3 and TLS 1.3 with 0-RTT
https://www.instart.com/

[2019-05-22 19:53] igrigorik commented on #197
Peter, thanks for flagging this. Would you be willing to put together a PR to update the relevant bits you've described?

[2019-05-22 20:22] peterblum commented on #197
Will do!

[2019-05-24 20:18] dixmeno opened #199 "Add OpenLiteSpeed/LiteSpeed"
[OpenLiteSpeed](https://openlitespeed.org/) - open source

[LiteSpeed](https://www.litespeedtech.com/) - commercial webserver allowed?

[2019-05-25 02:51] igrigorik commented on #199
Would be happy to see both on the list! Someone would have to do an audit and propose a PR... :)

[2019-07-02 08:13] svenba commented on #190
Just to clarify, KeyCDN has the default TLS record size of 8k and we can change the value on request per Zone.

[2019-12-05 00:54] jaeyeonling opened #201 "Missing AWS NLB"
Can you also add AWS ELB(Network) into the matrix?

https://docs.aws.amazon.com/elasticloadbalancing/latest/network/introduction.html

Thanks!

[2020-01-03 13:01] Nooshu opened #202 "Fastly now support TLS 1.3 and 0-RTT"
There's information about it in their [documentation here](https://docs.fastly.com/products/tls-service-options#limitations-and-key-behaviors). You have to contact their support team to have them enabled, but they are supported.

Happy to open a PR if you agree with it being added.

[2020-01-06 14:00] LPardue opened #203 "Condsider adding an HTTP/3 column"
There is an HTTP/2 column and since people are making progress on IETF QUIC & HTTP/3 interoperability it seems it might be useful to add an HTTP/3 column.

There is an argument to be made for a QUIC column too but that will likely proliferate to needing to disambiguate between gQUIC and IETF QUIC. So for simplicity sake I'd recommend not presenting that.

[2020-01-06 15:41] igrigorik commented on #203
Agreed, adding H/3 columns makes sense to me. Willing to pull together a PR? I guess the tricky bit here would be to (ideally) canvas and gather current state on our own, prior to publishing — not a strict blocker though.

[2020-01-06 15:44] LPardue commented on #203
Let me take a crack...

[2020-01-06 15:48] LPardue commented on #203
It should probably be a WIP PR until such a time as HTTP/3 is finalized - then it can reflect whether an implementation has mainline support for the singular RFC version.

[2020-01-06 16:40] igrigorik commented on #203
👍

On Mon, Jan 6, 2020, 7:48 AM Lucas Pardue <notifications@github.com> wrote:

[2020-01-06 22:24] bazzadp commented on #203
I literally came here to suggest (and/or do) this! Great minds think alike @LPardue 😀

[2020-01-07 12:21] LPardue opened #205 "FAQ answer on TLS RTT is a little stale"
While preparing the WIP #204, I noticed that the answer to the question "TLS still adds an extra RTT; can we fix that?" was written in a pre-[RFC8446](https://tools.ietf.org/html/rfc8446) world and is now a little stale.

[2020-06-26 16:57] styfle commented on #180
Looks like this was added in #186 already (see line 282)

[2020-06-27 16:16] igrigorik commented on #180
Good catch, yep. Closing.

[2020-06-27 16:16] #180 closed

[2020-07-23 18:51] sudhirpatamsetti commented on #202
Here is the documentation link https://docs.fastly.com/en/guides/enabling-tls-1-3-through-fastly and blog post https://www.fastly.com/blog/tls13-available

[2020-08-18 08:30] polarathene opened #208 "Clarification on ECDSA support"
In the FAQ section, there is this statement:

But it lacks any reference.. [This certbot discussion comment](https://github.com/certbot/certbot/issues/2632#issuecomment-549584840) cites some rather old clients([along with their lack for SNI support](https://en.wikipedia.org/wiki/Server_Name_Indication) which isn't uncommon today that'd fail with RSA as well), as does this [June 2014 article](https

[2020-08-18 09:12] polarathene commented on #205
Can you clarify that? Neither the FAQ or you referencing the RFC does.

TLS 1.3 is 1-RTT(without 0-RTT) and TLS 1.2 is 2-RTT, wither either having a follow-up 1-RTT for the actual request as far as I understand? ([I'm referencing the following](https://blog.cloudflare.com/introducing-tls-1-3/), which has a nice graphic for it as well)

I assume the Cloudflare article is out of date too?

[2020-08-18 09:25] LPardue commented on #205
Fair question

[code]

So ignore the TFO thing, two points of staleness come to mind:

1) TLS 1.3 has shipped, so it is not experimental.

2) There are now two main flavours of QUIC, the original "gQUIC" that uses QUIC crypto, and IETF QUIC which uses the TLS 1.3 handshake.

IMO a suitable fixup would be to focus on TLS 1.3 0-RTT and then mention its applicability to IETF QUIC, with links to both.

[2020-08-18 15:37] igrigorik commented on #208
Thanks for the detailed analysis and recommendation. It's been a while since that text was written, definitely open to updating it to account for any changes in the ecosystem since. Would you be willing to put together a PR to address this?

[2020-08-19 23:11] #208 closed

[2020-09-25 07:15] #202 closed

[2020-11-16 02:00] caojing1992 opened #213 "test"
test`code

- [ ]

`11111

[2020-11-16 02:00] caojing1992 commented on #213
11111

[2020-11-16 06:01] #213 closed

[2020-12-06 08:42] sashee opened #214 "AWS CloudFront supports TLS 1.3"
Here's the news item: https://aws.amazon.com/about-aws/whats-new/2020/09/cloudfront-tlsv1-3-support/

[2021-07-12 13:31] ozwilder opened #216 "Imperva Incapsula support TLS 1.3"
Imperva Incapsula CDN\WAF service support TLS 1.3, 1.2, 1.1, 1.0, and SSLv3 for connectivity between clients (visitors) and the Imperva service.

https://docs.imperva.com/bundle/cloud-application-security/page/more/ssl-certificate.htm

Please update the table charts and relevant cells.

Thanks
Oz

[2021-11-15 12:45] whalehub commented on #214
@sashee I think this issue was fixed with #215.

[2021-11-19 13:39] #216 closed

[2022-02-25 03:51] The-Periodic-Table-Of-Elements commented on #214
yo

[2022-02-25 03:51] The-Periodic-Table-Of-Elements opened #222 "hrrewego!"
*

[2022-02-25 09:59] #214 closed

[2022-02-25 09:59] sashee commented on #214
Yeah, it's fixed:)